version: '3.1'
services:

  db:
    image: postgres:9.4
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - back-tier
  e2e:
    build: ./tests/
    depends_on:
      - vote
      - result
      - worker
      - db
      - redis
    networks:
      - front-tier

  redis:
    image: redis:alpine
    ports: [ "6379" ]
    networks:
      - back-tier

  result:
    image: ${RESULT_IMAGE}
    ports:
      - 4000:4000
    depends_on:
      - redis
      - db
    networks:
      - front-tier
      - back-tier

  vote:
    image: ${VOTE_IMAGE}
    ports:
      - 80:80
    depends_on:
      - redis
      - db
    networks:
      - front-tier
      - back-tier
  worker:
    image: ${WORKER_IMAGE}
    depends_on:
      - redis
      - db
    networks:
      - back-tier

volumes:
  db-data:

networks:
  front-tier:
  back-tier:
