version: '3.7'
networks:
  frontend:
  backend:
services:

  db:
    image: postgres:9.4
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - backend
  e2e:
    build: ./tests/
    depends_on:
      - db
      - redis
      - result
      - vote
      - worker
    networks:
      - frontend

  redis:
    image: redis:alpine
    ports: [ "6379" ]
    networks:
      - backend

  result:
    image: ${RESULT_IMAGE}
    ports:
      - 4000:4000
    depends_on:
      - db
    networks:
      - backend
      - frontend

  vote:
    image: ${VOTE_IMAGE}
    ports:
      - 80:80
    depends_on:
      - db
      - redis
    networks:
      - backend
      - frontend
  worker:
    image: ${WORKER_IMAGE}
    depends_on:
      - db
      - redis
    networks:
      - backend

volumes:
  db-data:
